    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border-radius: 1%;
    }
    
    body {
        background-color: rgb(16, 30, 229);
        color: rgb(14, 34, 27);
    }
    
    img {
        height: 150px;
        width: 150px;
        position: absolute;
        top: 300px;
    }
    
    .header {
        text-align: center;
    }
    
    .header li {
        display: inline-block;
        margin: 1em;
        list-style: none;
        color: rgb(127, 255, 212);
        font-size: 1.3em;
    }
    
    .nextQuestionBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        border: 0.5em #1ecf59 solid;
    }
    
    .startQuiz,
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        margin: auto;
    }
    
    label {
        display: block;
        cursor: pointer;
        margin-bottom: .5em;
        padding: .5em;
    }
    
    legend {
        margin-top: 1em;
        margin-bottom: .5em;
    }
    
    .answerOption {
        margin-top: 0.5em;
    }
    
    .button {
        margin-left: auto;
        margin-right: auto;
        height: 3em;
        cursor: pointer;
        text-transform: uppercase;
    }
    
    .submitButton {
        position: absolute;
        top: 500px;
    }
    
    .restartButton {
        display: none;
        margin-bottom: .5em;
    }
    
    @media only screen and (min-width: 320px) {
        .nextQuestionBox {
            width: 90%;
            height: 31em;
            background-color: #EEA0E3;
        }
        .box {
            width: 90%;
            height: 90%;
            background-color: #EEA0E3;
        }
        h1 {
            padding-top: 1em;
            margin-top: 1.5em;
            font-size: 2.2em;
        }
        h3 {
            padding-top: 1em;
            margin-top: 1.5em;
            font-size: 2em;
        }
        legend {
            padding-top: 1em;
            margin-top: 1.5em;
            font-size: 1.5em;
        }
        .size {
            font-size: .9em;
            margin: .1em;
        }
    }
    
    @media only screen and (min-width: 550px) {
        .nextQuestionBox {
            width: 29.5em;
            height: 31.5em;
            padding-top: 2.6em;
            padding-bottom: 2.6em;
            background-color: #EEA0E3;
        }
        img {
            height: 150px;
            width: 150px;
            position: relative;
            bottom: 100px;
        }
        .box {
            width: 85%;
            height: 98%;
            background-color: #EEA0E3;
        }
        h1 {
            padding-top: 0;
            margin-top: 1em;
            font-size: 2.5em;
        }
        h3 {
            padding-top: 0;
            margin-top: 1em;
            font-size: 2.2em;
        }
        legend {
            padding-top: 0;
            margin-top: 1em;
            font-size: 1.9em;
        }
        .size {
            font-size: .9em;
        }
        img {
            position: absolute;
            top: 360px;
        }
        .submitButton {
            position: absolute;
            top: 525px;
        }
        @media only screen and (min-width: 880px) {
            .header li {
                margin: 1em;
                font-size: 2em;
            }
            .nextQuestionBox {
                width: 35em;
                height: 38em;
                background-color: #EEA0E3;
            }
            .box {
                width: 85%;
                height: 95%;
                background-color: #EEA0E3;
            }
            h1 {
                padding-top: 0;
                margin-top: 1em;
                font-size: 3em;
            }
            h3 {
                padding-top: 0;
                margin-top: 1em;
                font-size: 3em;
            }
            legend {
                padding-top: 0;
                margin-top: 1em;
                font-size: 2em;
            }
            .size {
                font-size: 1.5em;
            }
            img {
                height: 175px;
                width: 175px;
                position: absolute;
                top: 475px;
            }
            .submitButton {
                position: absolute;
                top: 675px;
            }
        }
    }